@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

/* Structure HTML */

header {
    background-color: #8f3b33;
    color: rgb(215, 162, 71);
    text-align: center;
    padding: 18px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c06e56;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #f4a460;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Titre page */

h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

/* Catégories */

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.category {
    background-color: hsl(29, 73%, 65%);
    border: 2px solid #83955c38;
    border-radius: 70px;
    margin: 10px;
    /* padding: 20px; */
    width: 330px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category h2 {
    color: #000000;
    font-size: 35px;
    font-family: 'Imperial Script';
}